<%- include('partials/head'); %>

    <body>

        <%- include('partials/nav_bar')%>
            <div class="film_container">

                <% for (const film of allFilm) { %>
                    <div class="box_film"> <img class="film_image"
                            src='<%= film.part_one_images_url %><%= film.part_two_images_url %>'
                            alt="Image du film <%= film.name %>">
                        <p>
                            <%= film.name %>
                        </p>
                        
                    </div>
                    <% } %>
                    
            </div>
            <%- include('partials/footer'); %>
    </body>

    </html>