<%- include('partials/head'); %>

    <body>

        <%- include('partials/nav_bar')%>

            <main>
                <div class="page_container">
                    <div class="film_container">
                    
                    <% for (const film of allFilm) { %>

                        <div class="card">

                            <div class="poster">
                                <img src='https://image.tmdb.org/t/p/w780<%= film.poster_path %>'
                                    alt="Image du film <%= film.original_title %>">
                            </div>
                            <div class="details">

                                <h3 class="details_title">
                                    <%= film.original_title %>
                                </h3>

                                <div class="tags">
                                    <% for (genre_id of JSON.parse(film.genre_ids)) {
                                        
                                        const categories_name=film_categories.find((categorie)=>categorie.code==genre_id);
                                        
                                        %> 

                                        <span class=" details_genre genre--red"><%=categories_name.category%></span>
                                    <%}%>
                                    <span class="details_date">
                                        <%=  convert.getYearFromDate(film.release_date)%>
                                    </span>

                                </div>


                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>

                            </div>

                        </div>

                        <% } %>

                    </div>
                </div>
                <div class=page_pagination>

                    <a href="/accueil/page/<%= pagination.previousPage(activePage)%>"> << Précédent</a>
                    <a href="/accueil/page/<%= pagination.nextPage(activePage ,countNumberOfPage)%>"> Suivant >></a>

                </div>

            </main>



            <%- include('partials/footer'); %>
    </body>

    </html>