<%- include('partials/head'); %>

    <body>

        <%- include('partials/nav_bar')%>
            <div class="film_container">
                <% for (const film of allFilm) { %>
                    <div> <img src='<%= film.part_one_images_url %><%= film.part_two_images_url %>'
                            alt="description de l'image"></div>
                    <div>
                        <%= film.name %>
                    </div>
                    <a href="/favoris/add/<%= film.id %>">+ Ajouter aux favoris</a>
                    <% } %>

            </div>
            <%- include('partials/footer'); %>
    </body>

    </html>